#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.equipSlotGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.equipSlotIcon {
  width: 30px;
  height: 30px;
  margin: 6px 11px 1px 1px;
}

.equipSlotIcon .active {
  margin: 5px 10px 0 0;
  border: 1px solid cyan;
}

.equipSlotLabel {
  margin: 0;
  padding: 0;
  color: #616161;
}

.equipSlotLabel-active {
  margin: 0;
  padding: 0;
  color: #fff;
}


.active {
  border: 1px solid cyan;
}