#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.equipmentContainer {
  padding: 10px 20px;
}

.equipSlotGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.equipSlotIcon {
  width: 30px;
  height: 30px;
  margin: 5px 10px 0 0;
  box-sizing:border-box
}

.equipSlotIcon .active {
  margin: 5px 10px 0 0;
  border: 1px solid cyan;
  box-sizing:border-box
}

.equipSlotLabel {
  margin: 0;
  padding: 0;
  color: #616161;
}

.equipSlotLabel-active {
  margin: 0;
  padding: 0;
  color: #fff;
}

.active {
  border: 1px solid cyan;
}


.dungeonContainer {
  padding: 10px 30px;
}