#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 0.2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

h1 {
  font-size: 1.5rem;
  height: 33px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.titleLogo {
  height: 25px;
  margin:  0 8px;
}

.specContainer {
  margin: 10px;
  padding: 20px;
  background-color: #272727;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px #1b1b1b);
}

.specIcon {
  box-sizing: border-box;
  width: 32px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid #0f0f0f;
}

.specIcon.inactive{
  filter: grayscale(95%);
}

.specIcon.active{
  border: 1px solid cyan;
  /* border-radius: 3px; */
}


.equipmentContainer {
  margin: 10px;
  padding: 10px 20px 20px 20px;
  background-color: #272727;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px #1b1b1b);
}

.equipSlotGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.equipSlotIcon {
  width: 30px;
  height: 30px;
  margin: 5px 10px 0 0;
  box-sizing:border-box
}

.equipSlotIcon.active {
  margin: 5px 10px 0 0;
  border: 1px solid cyan;
  box-sizing:border-box
}

.equipSlotLabel {
  margin: 0;
  padding: 0;
  color: #616161;
}

.equipSlotLabel-active {
  margin: 0;
  padding: 0;
  color: #fff;
}

.active {
  border: 1px solid cyan;
  border-radius: 3px;
}

h2 {
  margin: 5px 10px 10px 10px;
  font-size: 14px;
  font-weight: 600;
}

.dungeonContainer {
  margin: 10px;
  padding: 10px 20px;
  width: 100%;
  background-color: #272727;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px #1b1b1b);
}

.dungeonGroup {
  position: relative;
  display: block;
  color: #fff;
  width: 100%;
  /* height: 100px; */
  background-color: #272727;
  margin-bottom: 10px;
  filter: drop-shadow(5px 5px 10px #1b1b1b);
  border-radius: 5px;
}

.dungeonGroupBanner {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 40px;
  margin: 0px;
  border-radius: 5px;
  -webkit-mask-image: linear-gradient(#000000, transparent);
  mask-image: linear-gradient(#000000, transparent);
}

.dungeonGroupTitle {
  position: absolute;
  width: 400px;
  height: 40px;
  top: -11px;
  left: 10px;
  text-align: left;
  font-weight: 600;
  color: #ececec;
  text-shadow: 2px 2px 2px #000000;
  /* margin-left: 15px; */
}

.lootGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lootItem {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.lootIcon {
  width: 30px;
  height: 30px;
  margin: 0;
  box-sizing: border-box;
}

.lootName {
  margin: 0;
  padding: 0;
}